name: Extension Release

on:
  push:
    tags:
      - "v*"

jobs:
  Release:
    name: Release Extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create Archives
        run: |
          cd dist
          zip -r ghpr-ext-chrome-${{ github.ref_name }}.zip chrome
          zip -r ghpr-ext-firefox-${{ github.ref_name }}.zip firefox
          tar -czf ghpr-ext-chrome-${{ github.ref_name }}.tgz chrome
          tar -czf ghpr-ext-firefox-${{ github.ref_name }}.tgz firefox

      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./dist/ghpr-ext-chrome-${{ github.ref_name }}.zip, ./dist/ghpr-ext-firefox-${{ github.ref_name }}.zip, ./dist/ghpr-ext-chrome-${{ github.ref_name }}.tgz, ./dist/ghpr-ext-firefox-${{ github.ref_name }}.tgz
          draft: true
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
